<h3><i class="fas fa-book-reader"></i>Story Books</h3>
<div class="section">
    <p class="lead"> create private and public stories of your life</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fas fab-google-left"></i>log in with Google
    </a>
</div>
